.body-texto1{
    font-style: italic;
    color: aliceblue;
    text-align: center;
}

.body-textooculto{
    font-style: italic;
    color: black;
    text-align: end;
}

.body-img{
    text-align: center;
}